/* src/ui/client/index.css */
@import "@radix-ui/themes/styles.css" layer(radix);
@import "tailwindcss";

.radix-themes {
  --heading-font-family: "Source Sans 3", sans-serif;
  --body-font-family: "Source Sans 3", sans-serif;
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}

/* Reset and base styles */
@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: system-ui, sans-serif;
  }

  body {
    margin: 0;
    line-height: inherit;
  }
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  background-color: #dff2fe;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
